@model IEnumerable<Bangazon.Models.ProductViewModels.ProductDetailViewModel>

@{
    ViewData["Title"] = "MyProducts";
}

<h1>My Products</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product.DateCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product.Quantity)
            </th>
            <th>
                Products Sold
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product.ProductType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Product.DateCreated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Quantity)
            </td>
            <td>
                    @(item.Product.Quantity - item.Product.QuantityRemaining)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.ProductType.Label)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Product.ProductId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Product.ProductId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
